@using Letra.Models
@model List<Ekibimiz>

<div class="roww">
    <h1>EKİBİMİZ</h1>
</div>
<div class="roww">
    @foreach (var x in Model)
    {
        <div class="column">
            <div class="cardd-container"  style=" margin-top: 20px;">
                <div class="cardd">
                    <div class="img-container">
                        <img src="@x.UyeFotograf" />
                    </div>
                    <h3>@x.UyeAdSoyad</h3>
                    <p>@x.UyePozisyon</p>
                    <div class="icons">
                        <a href="@x.UyeLinkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="@x.UyeGithub">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="mailto:@x.UyeMail">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>  