@using Letra.Models
@model List<Ekibimiz>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" style="width: auto;">
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <th scope="row">ID:</th>
                        <td>@x.Id</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Ad Soyad:</th>
                        <td>@x.UyeAdSoyad</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Pozisyon:</th>
                        <td>@x.UyePozisyon</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Fotoğrafı Linki:</th>
                        <td>@x.UyeFotograf</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Linkedin:</th>
                        <td>@x.UyeLinkedin</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Github:</th>
                        <td>@x.UyeGithub</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Mail:</th>
                        <td>@x.UyeMail</td>
                    </tr>
                    <tr>
                        <th scope="row">Güncelle:</th>
                        <td><a href="/Ekibimiz/UyeGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                    <tr style="border-bottom: 4px solid #ff0000;">
                        <th scope="row">Sil:</th>
                        <td><a href="/Ekibimiz/UyeSil/@x.Id" class="btn btn-danger">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a link href="/Ekibimiz/YeniUyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>


<h3> üye ekle sayfası yapılacak üye güncelle yapılacak butonların backendi yazılacak</h3>
<h3>sayfaya sığacak şekilde yap</h3>
