@using Letra.Models
@model List<Ekibimiz>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ekibimiz Sayfası</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <th scope="row">ID:</th>
                        <td>@x.Id</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Ad Soyad:</th>
                        <td>@x.UyeAdSoyad</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Pozisyon:</th>
                        <td>@x.UyePozisyon</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Fotoğrafı Linki:</th>
                        <td>@x.UyeFotograf</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Linkedin:</th>
                        <td>@x.UyeLinkedin</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Github:</th>
                        <td>@x.UyeGithub</td>
                    </tr>
                    <tr>
                        <th scope="row">Üye Mail:</th>
                        <td>@x.UyeMail</td>
                    </tr>
                    <tr>
                        <th scope="row">Güncelle:</th>
                        <td><a href="/Ekibimiz/UyeGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                    <tr style="border-bottom: 4px solid #ff0000;">
                        <th scope="row">Sil:</th>
                        <td><a href="/Ekibimiz/UyeSil/@x.Id" class="btn btn-danger sil" data-id="@x.Id">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a link href="/Ekibimiz/YeniUyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        // Tüm "silButton" sınıfına sahip öğeleri seç
        var deleteButtons = document.querySelectorAll(".sil");

        // Her bir buton için olay dinleyici ekle
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (e) {
                e.preventDefault();
                var adminid = button.getAttribute("data-id");

                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Silmek istediğinizden emin misiniz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Evet, sil!',
                    cancelButtonText: 'İptal'
                }).then((result) => {
                    if (result.isConfirmed) {
                        performDelete(adminid);
                    }
                });
            });
        });

        function performDelete(adminid) {
            $.ajax({
                url: '/Ekibimiz/UyeSil', // Controller işleminin URL'sini doğru şekilde belirtin  buraaya dikkat 
                method: 'POST', // Veya GET, PUT, DELETE
                data: { id: adminid }, // İsteğe gönderilecek veriler
                success: function (data) {
                    Swal.fire({
                        icon: 'success', // İkon tipi
                        title: 'Silindi!', // Başlık
                        text: 'İşlem başarıyla tamamlandı.', // Metin içeriği
                        showConfirmButton: false, // Onay butonunu gizle
                        timer: 1500 // Otomatik kapatılma süresi (isteğe bağlı)
                    });

                    // Belirli bir süre sonra sayfanın yeniden yüklenmesini sağla
                    setTimeout(function () {
                        // Takvim controllerını tetiklemek için ayrı bir AJAX isteği gönder
                        // Burada triggerCalendarAction() veya gerekli işlemi çağırabilirsiniz
                        location.reload(); // Sayfayı yeniden yükle
                    }, 1500);
                },
                error: function () {
                    Swal.fire(
                        'Hata!',
                        'İşlem sırasında bir hata oluştu.',
                        'error'
                    );
                }
            });
        }
</script>
