@model  Letra.Models.Ekibimiz

@{
    ViewBag.Title = "YeniUyeEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Üye Ekle</h2>

<form class="form-group" method="post">
    
    <b>Üye Ad Soyad</b>
    <br />
    @Html.TextBoxFor(e => e.UyeAdSoyad, new { @class = "form-control" })
    <br />
    <b>Üye Pozisyon</b>
    <br />
    @Html.TextBoxFor(e => e.UyePozisyon, new { @class = "form-control" })
    <br />
    <b>Üye Fotoğrafı Linki</b>
    @Html.TextBoxFor(e => e.UyeFotograf, new { @class = "form-control" })
    <br />
    <b>Üye Linkedin</b>
    @Html.TextBoxFor(e => e.UyeLinkedin, new { @class = "form-control" })
    <br />
    <b>Üye Github </b>
    @Html.TextBoxFor(e => e.UyeGithub, new { @class = "form-control" })
    <br />
    <b>Üye Mail </b>
    @Html.TextBoxFor(e => e.UyeMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>



